<div class="container">

  <div class="card-deck">

    <div class="card total">

      <div class="card-body text-center text-light" (click)="totalQuestion()">

        <div class="row">
          <div class="col-9 ">
            <p class="card-text"><b class="top_margin"> TOTAL QUESTIONS </b></p>
            <p class="heading_count"><b> {{totalQuestions | questionTotal : easyQuestions : mediumQuestions : hardQuestions}} </b></p>
          </div>
          <div class="col-3">
            <img src="assets/ic_arrow.svg" alt="" class="margin" width="20px" height="20px">
          </div>
        </div>
        


      </div>

    </div>


    <div class="card  review">

      <div class="card-body text-center text-light" (click)="reviewQuestion()">
        <div class="row">
          <div class="col-9 ">
            <p class="card-text"><b class="top_margin"> IN REVIEW </b></p>
            <p class="heading_count"><b>1200</b></p>
          </div>
          <div class="col-3">
            <img src="assets/ic_arrow.svg" class="margin" alt="" width="20px" height="20px">
          </div>
        </div>
      </div>
    </div>

    <div class="card easy">

      <div class="card-body text-center text-light" (click)="categoryQuestion('E')">
        <div class="row">
          <div class="col-9">
            <p class="card-text"><b class="top_margin"> EASY QUESTIONS</b></p>
            <p class="heading_count"><b>{{easyQuestions}}</b></p>
          </div>
          <div class="col-3">
            <img src="assets/ic_arrow.svg" class="margin" alt="" width="20px" height="20px">
          </div>
        </div>
      </div>

    </div>

    <div class="card  medium">

      <div class="card-body text-center text-light" (click)="categoryQuestion('M')">
        <div class="row">
          <div class="col-9">
            <p class="card-text"><b class="top_margin">MED. QUESTIONS</b> </p>
            <p class="heading_count"><b>{{mediumQuestions}}</b></p>
          </div>
          <div class="col-3">
            <img src="assets/ic_arrow.svg" alt="" class="margin" width="20px" height="20px">
          </div>
        </div>
      </div>

    </div>

    <div class="card hard ">

      <div class="card-body text-center text-light" (click)="categoryQuestion('H')">
        <div class="row">
          <div class="col-9">
            <p class="card-text"><b class="top_margin"> HARD QUESTIONS</b></p>
            <p class="heading_count"><b>{{hardQuestions}}</b></p>
          </div>
          <div class="col-3">
            <img src="assets/ic_arrow.svg" alt="" class="margin" width="20px" height="20px">
          </div>
        </div>
      </div>

    </div>

  </div>
</div>