.container
{
  background-color: #f2f2f2;
}
p{
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
}
.question_font_size
{
    font-size: 25px;
    border-bottom: 10px!important;
}

input::placeholder {
    font-family: 'Roboto Condensed', sans-serif;
  }

.gray_text{
    color: #cccccc;
}

.margin_5{
    margin-right: 5px;
}

.align_together{
    display: flex;
    padding: 3px;
    justify-content: flex-start;
}

b{
    font-size: 15px;
    
    font-family: 'Roboto Condensed', sans-serif;
}

.fa{
    color: #620bd6;
}

.col-1{
    cursor: pointer;
    margin-top: 10px;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    align-items: center;
}

.padding_right{
    padding-right: 10px;
}

.col-10{
    padding: 0px;
}

.btn{
   background-color:  #620bd6;
   color: white;
   font-size: 15px;
    border: 2px solid white;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

p:focus{
    box-shadow: none!important;
    }

input:focus{
    box-shadow: none!important;
}

.form-control{
    border-radius: 0px;
    border: 0px;
    margin-top: 10px;
}

.space{
    background-color: white;
    margin-bottom: 10px;
}

.center_img{
    display: flex;
  align-items: center;
  justify-content: center;
}

.option{
    border-radius: 20px;
    border: 2px solid #ff0000;  
    text-align: center;
    color: #ff0000;
}

.center_value{
    margin: 0.25rem;
}

.take_margin{
    margin-top: 5px;
    margin-bottom: 5px;
}

.profile_picture{
    border-radius: 10px;
}

.correct_option{
    border: 2px solid #38dd8a;
    border-radius: 20px;
    color: #38dd8a;
}

p{
    margin-bottom: 5px;
}