.modal-body
{
  padding-bottom: 0px!important;
  padding-left: 0px;
  padding-top: 0px;
  font-family: 'Roboto Condensed';
}
  .col-8
  {
    padding-top: 5px!important;
   
  } 
  .picture-size
  {
      padding: 0px!important;
      margin-left: 15px;
  }
  .title
  {
      font-size: 40px;
      display: flex;
      justify-content: center;
  }

  .image_item{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
.input_width
{
  width: 100%;
  border: 0px;
  font-size: 10px;
  border-bottom: 1px solid #5a0bcf;
}
.type-question
{
  border: 0px ;
    font-size: 27px;
    width: 87%!important;
}
.wrong-option
{
  
  border: 2px solid #ff0000;
    border-radius: 12px;
}
.wrong-option::placeholder {
 
  color: #ff0000;
  opacity: 1; /* Firefox */
}
.correct-option
{
  
    border: 2px solid #38dd8a;
    border-radius: 12px;
}
.correct-option::placeholder {
 
  color: #38dd8a;
  opacity: 1; /* Firefox */
}
.dropdown-toggle
{
  padding: 2px;
}

.option_margin{
  margin-top: 20px;
}

.bottom_button
{
  padding: 0px!important;
  border: 2.5px solid #5a0bcf;
  margin-top: 20px!important;
}

.btn{
  width: 100%;
border-radius: 0px;
}

.cancel_button
{
color: #5a0bcf;
}

.submit_button
{
background-color: #5a0bcf;
color: white;
}

.col_padding
{
  padding-left: 0px!important;
  padding-right: 0px!important;
 
}
.right-border
{
  border-right: 3px solid #5a0bcf;
}