<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
<p class="questionCategory">
  <b>-QUESTION CATEGORY-(28)</b>
   
</p>
</div>
<div class="col-2" >

<a href="#"><p class="viewAll" (click)="viewAll()" ><b *ngIf="expandCategories">VIEW LESS </b><b *ngIf="!expandCategories">VIEW MORE </b></p>
</a>

</div>
</div>
<div class="box">
    
  <div class=" row horizontal_scroll " [ngClass]="{'showAll':expandCategories}">
			    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
              <img src="assets/img_avatar.png" width="100px" height="100px"> 
                                
						<div class="title ">
              <h6><b>HISTORY</b></h6>
              <h3> <b> 1200 </b></h3>
						</div>
                        
						
                        
						<div class="row justify-content-center">
              <div class="col-3 ">
                <a class="easy" href=""><b> 1312</b></a>
              </div>
              
              <div class="col-3 ">
                  <a class="medium" href=""><b> 2312</b></a>
                </div>
                
                <div class="col-3 ">
                    <a class="hard" href=""><b> 3312</b></a>
                  </div>
            </div>
                        
					 </div>
        </div>	 
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
            <div class="box-part text-center">
                <img src="assets/img_avatar.png" width="100px" height="100px"> 
                                  
              <div class="title">
                <h6><b>HISTORY</b></h6>
                <h3> <b> 12000 </b></h3>
              </div>
                          
              
                          
              <div class="row justify-content-center">
                <div class="col-3 ">
                  <a class="easy" href=""><b> 1312</b></a>
                </div>
                
                <div class="col-3 ">
                    <a class="medium" href=""><b> 2312</b></a>
                  </div>
                
                  <div class="col-3 ">
                      <a class="hard" href=""><b> 3312</b></a>
                    </div>
              </div>
                          
             </div>
          </div>	 
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
              <div class="box-part text-center">
                  <img src="assets/img_avatar.png" width="100px" height="100px"> 
                                    
                <div class="title">
                  <h6><b>HISTORY</b></h6>
                  <h3> <b> 12000 </b></h3>
                </div>
                            
                
                            
                <div class="row justify-content-center">
                  <div class="col-3 ">
                    <a class="easy" href=""><b> 1312</b></a>
                  </div>
                
                  <div class="col-3 ">
                      <a class="medium" href=""><b> 2312</b></a>
                    </div>
                    
                    <div class="col-3 ">
                        <a class="hard" href=""><b> 3312</b></a>
                      </div>
                </div>
                            
               </div>
            </div>	 
       
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
                <div class="box-part text-center">
                    <img src="assets/img_avatar.png" width="100px" height="100px"> 
                                      
                  <div class="title">
                    <h6>History</h6>
                    <h3> <b> 12000 </b></h3>
                  </div>
                              
                  
                              
                  <div class="row justify-content-center">
                    <div class="col-3 ">
                      <a class="easy" href=""><b> 1312</b></a>
                    </div>
                    
                    <div class="col-3 ">
                        <a class="medium" href=""><b> 2312</b></a>
                      </div>
                      
                      <div class="col-3 ">
                          <a class="hard" href=""><b> 3312</b></a>
                        </div>
                  </div>
                              
                 </div>
              </div>	 
       
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
                  <div class="box-part text-center">
                      <img src="assets/img_avatar.png" width="100px" height="100px"> 
                                        
                    <div class="title">
                      <h6>History</h6>
                      <h3> <b> 12000 </b></h3>
                    </div>
                                
                    
                                
                    <div class="row justify-content-center">
                      <div class="col-3 ">
                        <a class="easy" href=""><b> 1312</b></a>
                      </div>
                      
                      <div class="col-3 ">
                          <a class="medium" href=""><b> 2312</b></a>
                        </div>
                        
                        <div class="col-3 ">
                            <a class="hard" href=""><b> 3312</b></a>
                          </div>
                    </div>
                                
                   </div>
                </div>	 
       
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
                    <div class="box-part text-center">
                        <img src="assets/img_avatar.png" width="100px" height="100px"> 
                                          
                      <div class="title">
                        <h6>History</h6>
                        <h3> <b> 12000 </b></h3>
                      </div>
                                  
                      
                                  
                      <div class="row justify-content-center">
                        <div class="col-3 ">
                          <a class="easy" href=""><b> 1312</b></a>
                        </div>
                        
                        <div class="col-3 ">
                            <a class="medium" href=""><b> 2312</b></a>
                          </div>
                          
                          <div class="col-3 ">
                              <a class="hard" href=""><b> 3312</b></a>
                            </div>
                      </div>
                                  
                     </div>
                  </div>	 
       
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
                      <div class="box-part text-center">
                          <img src="assets/img_avatar.png" width="100px" height="100px"> 
                                            
                        <div class="title">
                          <h6>History</h6>
                          <h3> <b> 12000 </b></h3>
                        </div>
                                    
                        
                                    
                        <div class="row justify-content-center">
                          <div class="col-3 ">
                            <a class="easy" href=""><b> 1312</b></a>
                          </div>
                          
                          <div class="col-3 ">
                              <a class="medium" href=""><b> 2312</b></a>
                            </div>
                            
                            <div class="col-3 ">
                                <a class="hard" href=""><b> 3312</b></a>
                              </div>
                        </div>
                                    
                       </div>
                    </div>	 
       
                             
        
		</div>		
  
</div>
</div>

