.container
{
    
    background-color: #f2f2f2;
    /* border: 2px solid brown; */
}

.space
{
    background-color: white;
    
    margin-bottom: 20px;
}

.form-control
{
    margin-top: 20px;
}
.option{
    border-radius: 20px;
    border: 2px solid #ff0000;  
    text-align: center;
   
}
.center_value
{
    margin: 0.5rem;
}
.take_margin
{
    margin-top: 20px;
    margin-bottom: 10px;
}
.profile_picture
{
    border-radius: 10px;
}
.correct_option
{
    border: 2px solid #38dd8a;
    border-radius: 20px;

}