
 <input class="form-control" type="text" placeholder="Type the Number Of questions" #keyword
 (keyup)="Search(keyword.value)" >
 <p> {{allquestions}}</p>
 
 <table class="table table-striped w-auto">
  <thead class="thead-dark">
    <tr class="table-info">
      <th  scope="col">question Text</th>
      <th scope="col">A</th>
      <th scope="col">B</th>
      <th scope="col">C</th>
      <th scope="col">D</th>
      <th scope="col">Correct</th>   
      <th scope="col">Category</th>
      <th scope="col">Edit/remove</th>
      
    </tr>
  </thead>
  <tbody>
      
    

    
    <tr  *ngFor="let all of temp; let i = index" [attr.data-index]="i"  > 
       
      <td  id="{{ 'questionText' +i}}"  contentEditable='{{currentEditingRow==i}}'> {{all.questionText}} </td>
      <td id="{{ 'optionA' + i }}" contentEditable='{{currentEditingRow==i}}'>{{all.optionA}}</td>
      <td  id="{{ 'optionB' + i }}" contentEditable='{{currentEditingRow==i}}'>{{all.optionB}}</td>
      <td  id="{{ 'optionC' + i }}" contentEditable='{{currentEditingRow==i}}'>{{all.optionC}}</td>
      <td  id="{{ 'optionD' + i }}" contentEditable='{{currentEditingRow==i}}'>{{all.optionD}}</td>
      <td  id="{{ 'correctAnswer' + i}}"  contentEditable='{{currentEditingRow==i}}'>{{all.correctAnswer}}</td> 
      <td  id="{{ 'questionCategory' + i }}"contentEditable='{{currentEditingRow==i}}'>{{all.questionCategory.value}}</td> 
      <td>
          <button  (click)="edit(i)" >Edit</button>
          <button  (click)="save(i)">Save</button>
          <button  (click)="delete(i)">Delete</button>

        </td>
        </tr>
   
    
  </tbody>

</table>

<!--  
<tr *ngFor="let all of temp; let i = index" [attr.data-index]="i"> 
    <td >{{all.questionText}}</td>
     <td >{{all.optionA}}</td>
    <td >{{all.optionB}}</td>
    <td >{{all.optionC}}</td>
    <td >{{all.optionD}}</td>
    <td >{{all.correctAnswer}}</td> 
    <td >{{all.questionCategory.value}}</td> 
    <td>
     
  </tr> -->