
<div class="container">
    <div class="row">
      <div class="col-4">
          <img class="profile_picture" src="assets/nikh.JPG" height="45px" width="45px" >
          <button class="btn text-light button5 btn-outline-primary" (click)="open()" ><b>ADD QUESTION</b></button>
      </div>
      <div class="col-4 logo">
         
              <img src="assets/logo.png" class="logo_click" routerLink="/dashboard" routerLinkActive="active" width="145" height="45" alt=""> 
       
      </div>
      <div class="col-4 search_component">
          <!-- <div class="search">
          <input type="text" class="searchbar " placeholder=" &nbsp;Search.." name="search">
 f     <button class="btn button4 text-light" type="submit" ><i class="fa fa-search" width="30px" height="30px"></i></button>
    </div>   -->
    </div>
    </div>
  </div>
  
  <!-- <app-add-question #add_question></app-add-question>
  
  <app-questions></app-questions>
  
  <app-question-category></app-question-category>
  <app-writers></app-writers>
    -->