.container{
  margin-top: 25px;
}
.solid {border-style: solid;}
.button5 {border-radius: 19px;
background-color: #620bd6;
font-size: 15px;
font-family: 'Roboto Condensed', sans-serif;
}
.button4
{
  border-radius: 50%;
  margin: 2px;
  background-color: #620bd6;
}


.search
{
  background-color: #999999;
  border: 2px solid #999999;
  border-radius: 12px;
 
  
}
.profile_picture
{
  border-radius: 50%;
  margin-right: 5px;
}
.searchbar{
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 12px;
  background-color: #999999;
  height: 30px;
  margin-left: 1px;
  border: 0px solid #999999;
  text-decoration-color: black;
}

.logo{
  display: flex;
  justify-content: center
}

.search_component
{
  display: flex;
  justify-content: flex-end;
}