<div class="container">
  <div class="row">
    <div class="col-4 offset-4 ">
      <p class="p_writers">
        <b>WRITERS</b>

      </p>
    </div>
    <div class="col-4">

      <div class=" form-group">
        <input type="text" placeholder="Daterangepicker" #dpYMD="bsDaterangepicker" class="form-control"
          placeholder="Date Range Picker" bsDaterangepicker>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="  col-5 writers_container">
      <div class="row">
        <div class="col-3">
          <img src="assets/nikh.JPG" height="70px" width="80px">
        </div>
        <div class="col-9">
          <div class="row ">
            <div class="col-3">
              <div class="row writers_items">
                <p class="card-text"><b>TOTAL</b></p>
              </div>
              <div class="row writers_items">
                <h4>12000</h4>
              </div>
            </div>

            <div class="col-3">


              <p>
                <img src="assets/ic_question_for_review.svg" width="25px" height="25px">
                <b>12000</b></p>
            </div>

            <div class="col-3">
              <p>
                <img src="assets/ic_questions_accepted.svg" width="25px" height="25px">
                <b>458</b></p>
            </div>

            <div class="col-3">


              <p>
                <img src="assets/ic_questions_declined.svg" width="25px" height="25px">
                <b>290</b>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="  col-5 writers_container offset-2">
      <div class="row">
        <div class="col-3">
          <img src="assets/nikh.JPG" height="70px" width="80px">
        </div>
        <div class="col-9">
          <div class="row ">
            <div class="col-3">
              <div class="row writers_items">
                <p class="card-text"><b>TOTAL</b></p>
              </div>
              <div class="row writers_items">
                <h4>12000</h4>
              </div>
            </div>

            <div class="col-3">


              <p>
                <img src="assets/ic_question_for_review.svg" width="25px" height="25px">
                <b>12000</b></p>
            </div>

            <div class="col-3">
              <p>
                <img src="assets/ic_questions_accepted.svg" width="25px" height="25px">
                <b>458</b></p>
            </div>

            <div class="col-3">


              <p>
                <img src="assets/ic_questions_declined.svg" width="25px" height="25px">
                <b>290</b>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>