/* .container
{
    margin-top: 50px;
} */

.card_deck{
padding: 0px  !important;
margin: 0px;
}

.writers_container{
    /* border: 1px solid green; */
    background-color: white;
    position: relative;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
}
p
{
    vertical-align: middle;
    display: flex;
    justify-content: center;
}
.col{
    padding: 0px;
    margin: 0px;
}

.writers_items{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    display: flex;
    align-items: center;
}
.date
{
    text-align: right;
    color: #620bd6;
}
.writer_row:hover
{

    background-color:aquamarine;
}
.writer_row{
    border: 5px solid red;
    
   
}

.p_writers
{
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: center;

    
}
.card-text
{
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
}
.row{
    display: flex;
    align-items:center;
}